{% extends 'base.html' %}

{% block content %}
   <h1>История Пупы и Лупы</h1>

   <p><i>Лупа</i> и <strong>Пупа</strong> пошли получать зарплату, но, к сожалению, история сложилась не лучшим образом...</p>
   <p>Но обо всем по порядку.<br> Лупа с Пупом шли по темному лесу в поисках бухгалтерии, а в кустах уже поджидал Быстрый Гонзалес...</p>

   <p>Продолжение можно узнать на <a href="http://anekdot.ru">Анекдот.ру</a></p>

   <img width="300" src="/static/lupa.jpg" />

   <h4>В главных ролях...</h4>
   <ul>
       <li>Лупа</li>
       <li>Пупа</li>
       <li>За</li>
       <li>Графиня Конская</li>
       <li>Бухгалтер Светлана</li>
   </ul>

    <h4>Сборы...</h4>

    <table border="1">
        <tr>
            <td>В Головинке</td><td>15 $</td>
        </tr>
        <tr>
            <td>В Черноголовке</td><td>35 $</td>
        </tr>
        <tr>
            <td>В Бобруйске</td><td>3500 $</td>
        </tr>
    </table>
{% endblock %}
